In [52]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd

In [46]:
th_months = {
    "ม.ค.": "01",
    "ก.พ.": "02",
    "มี.ค.":  "03",
    "เม.ย.": "04",
    "พ.ค.":  "05",
    "มิ.ย.":  "06",
    "ก.ค.":  "07",
    "ส.ค.":  "08",
    "ก.ย.":  "09",
    "ต.ค.":  "10",
    "พ.ย.":  "11",
    "ธ.ค.":  "12"
}

In [58]:
def str_to_date(date_str: str):
    date_list = date_str.split(" ")
    day = date_list[0] # NOTE: add leading zero
    month = th_months[date_list[1]]
    year = str(int(date_list[2])+1957)
    return year + str(month) + day

In [56]:
date_ = []
position_ = []
company_ = []
location_ = []
salary_ = []
link_ = []

In [60]:
driver = webdriver.Chrome()

In [61]:
url = "https://www.jobthai.com/th/jobs?keyword=data+scientist&page="

In [63]:
page_number = 0

max_page_number = 20

while page_number < max_page_number:
    page_number = page_number + 1
    
    driver.get(url + str(page_number))
    
    job_class = "ant-row msklqa-8".replace(" ",".")
    jobs = driver.find_elements(By.CLASS_NAME, job_class)
    
    if len(jobs) == 0:
        break
    
    for job in jobs:
        date, position, company, location, salary = job.text.split("\n")[1:6]
        link = job.find_element(By.TAG_NAME,"a").get_attribute("href")
        
        date_.append(str_to_date(date))
        position_.append(position)
        company_.append(company)
        location_.append(location)
        salary_.append(salary)
        link_.append(link)

In [ ]:
for link

In [64]:
jobs = pd.DataFrame({
    "date": date_,
    "position": position_,
    "company": company_,
    "salary": salary_,
    "location": location_,
    "link": link_
})

In [66]:
jobs.head(2)

,date,position,company,salary,location,link
0,2023083,Data Scientist,บริษัท บางกอกสหประกันภัย จำกัด (มหาชน),MRT สามย่าน,"BTS ช่องนนทรี, ศาลาแดง",https://www.jobthai.com/th/company/job/1484583
1,2023082,Data Scientist,"SHIPPOP. CO,. LTD.",N/A,เขตราชเทวี กรุงเทพมหานคร,https://www.jobthai.com/th/company/job/1307754

In [67]:
driver_2 = webdriver.Chrome()

In [68]:
driver_2.get("https://www.jobthai.com/th/company/job/1484583")

In [72]:
detail_button = driver_2.find_element(By.CLASS_NAME,"sc-1048v4y-12.ikhRNK")

In [71]:
detail_button.click()